/* SECTION pseudo selectors */
:root {
  --ocean: #061130;
  --sky: #1C4BC4;
  --cloud: #F4F6F8;
  --lightning: #FAFD61;
}

/* !SECTION */

/* SECTION element selectors */
* {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--ocean);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

header nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

header nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

button {
  font-weight: bold;
  background-color: var(--sky);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 12px;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

footer {
  background-color: var(--cloud);
  text-align: center;
  padding: 1rem;
}

/* !SECTION */

/* SECTION class selectors */
.logo {
  height: 60px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  color: white;
}

.lightning-color {
  color: var(--lightning);
}

.world {
  max-width: 100%;
}

.links {
  background-color: white;
  padding: 3rem 10rem;
}

.links nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.github-link {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  color: white;
  background-color: black;
  border-radius: 1000%;
  padding: 3px;
}

/* !SECTION */

/* SECTION media queries */
@media screen AND (max-width: 991.98px) {
  header {
    padding: 1rem;
  }

  header nav {
    display: none;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .links {
    padding: 1rem;
  }
}

/* !SECTION */